.footer {
    background-color: black;
    color: aliceblue;
    position: sticky;
    padding: 30px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    padding-bottom: 50px;
    
    

}